<table class="table is-hoverable is-fullwidth mt-6">
    <thead>
        <ng-content select="[column]"></ng-content>
        <th *ngIf="hasOptions"></th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <ng-container
                *ngIf="contentField"
                [ngTemplateOutlet]="contentField"
                [ngTemplateOutletContext]="{ $implicit: item }"
            >
            </ng-container>
            <td *ngIf="hasOptions">
                <app-menu-options></app-menu-options>
            </td>
        </tr>
    </tbody>
</table>

